ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.grid-product {
  display: flex;
  flex-wrap: wrap;
}

.w-400 {
  border: 1px solid #000;
  width: 400px;
}

.w-600 {
  border: 1px solid #000;
  width: 600px;
}

.grid-product .item-container {
  width: calc(100% / 1);
  padding: 16px 20px;
}

@media (min-width: 768px) {
  .grid-product .item-container {
    width: calc(100% / 2);
    padding: 16px 20px;
  }
}

@media (min-width: 992px) {
  .grid-product .item-container {
    width: calc(100% / 3);
    padding: 16px 20px;
  }
}

@media (min-width: 1200px) {
  .grid-product .item-container {
    width: calc(100% / 4);
    padding: 16px 20px;
  }
}

@media (min-width: 1400px) {
  .grid-product .item-container {
    width: calc(100% / 5);
    padding: 16px 20px
  }
}